.app{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.app-left{

	.app-header{
	margin-top: 20px;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;	
	margin-bottom: 20px;
	}


	.app-info-boxes{
		display: flex;
		justify-content: space-evenly;	

		.app-stats{
			box-shadow :  none;
			cursor: pointer;
			background: #F3F2F8;
		}
	}
}

.app-right{
	padding: 10px 40px;
	.app-table{
		overflow-y: scroll;
		height: 450px; 

		table{
			width: 100%;
		}

		td{
			padding: 10px 5px;
		}

		tr:nth-of-type(odd){
			background: #f3f2f8;
		}
	}
}

@media screen and(min-width: 768px){
	.app{
		flex-direction:row;
	}

	.app-left{
		width: 60%;
	}

	.app-right{
		width: 40%;
	}
}

.pointer-event-none{
	pointer-events: none;
}